<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>P1.jpg</key>
	<array>
		<string>Serena Tramm</string>
		<string>Palos Verdes | CA</string>
		<string>18-55mm, Rebel t5i</string>
	</array>
	<key>P2.jpg</key>
	<array>
		<string></string>
		<string>Gurung Serang | Bintan Island | Indonesia</string>
		<string>50mm, Rebel t5i</string>
	</array>
</dict>
</plist>
